<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
    <title>F1 Difficulty Calculator </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body >
    <div class="flex w-full h-[50px]">
       
    </div>
</body>

</html>