<!DOCTYPE html>
<html lang="en" data-theme=<%=theme%>>

<head>
    <title>F1 Difficulty Calculator </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body class="bg-grey overflow-clip text-white flex justify-center items-center w-full h-screen" id="body">
    <a href="/list">
        <button class="button button-light-blue text-center">List</button>
    </a>
    <a href="/map">
        <button class="button button-light-blue text-center ml-10">Map</button>
    </a>
    <a href=<%= loginAction %> class="absolute top-5 right-5">
        <button class="button button-light-blue"> <%= loginText %> </button>
    </a>
</body>

</html>