<!DOCTYPE html>
<html lang="en" data-theme="dracula">

<head>
    <title>F1 Difficulty Calculator </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
    <script src="/js/tabs.js"></script>
</head>

<body class="bg-base-300 w-full h-screen" id="body">
    <header class="w-full absolute z-10">
        <%- include('header'); %>
    </header>
    <div class="w-full h-full flex items-center justify-center">
        <div class="w-4/5 grid grid-cols-2 grid-rows-11 gap-4">
            <div class="text-center bg-primary">
                1
            </div>
            <div class="text-center bg-primary">
                2
            </div>
            <div class="text-center bg-primary">
                3
            </div>
        </div>
    </div>
</body>

</html>