<!DOCTYPE html>
<html lang="en">

<head>
    <title>F1 Difficulty Calculator </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/parallax.js"></script>
    <script src="/js/map.js"></script>
    <script src="/js/tabs.js"></script>
</head>



<body class="bg-grey overflow-clip w-full h-screen" id="body">
    <header class="w-full absolute z-10">
        <%- include('header'); %>
    </header>
    <div id="bg">
        <img src="img/world-map-removebg.png" id="map" />
            <div id="miami"
                class="location relative translate-x-[850px] translate-y-[850px] bg-base w-5 h-5 rounded-full flex items-center justify-center hover:scale-150 text-black cursor-pointer hover:border-2 hover:border-green">
                <img src="https://www.f1laps.com/static/icons/flags/USA.36ab476e5e55.svg" alt="miami"/>
            </div>
            <div id="bahrain"
                class="location relative translate-x-[2125px] translate-y-[850px] bg-base w-5 h-5 rounded-full flex items-center justify-center hover:scale-150 text-black cursor-pointer hover:border-2 hover:border-green">
                <img src="https://www.f1laps.com/static/icons/flags/BHR.736ec7e127a1.svg" alt="bahrain"/>
            </div>
            <div id="saudi arabia"
                class="location relative translate-x-[2125px] translate-y-[850px] bg-base w-5 h-5 rounded-full flex items-center justify-center hover:scale-150 text-black cursor-pointer hover:border-2 hover:border-green">
                <img src="https://www.f1laps.com/static/icons/flags/SAU.239857cafada.svg" alt="saudi arabia"/>
            </div>

    </div>
</body>

</html>