<!DOCTYPE html>
<html lang="en" id="html" data-theme=<%=theme%>>

<head>
    <title>F1 Difficulty Calculator </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/settings.js"></script>
    <link rel="icon" href="img/favicon.ico">

</head>

<body class="bg-base-300 overflow-clip text-base-content flex justify-center items-center w-full h-screen" id="body">
    <a href="/">
        <button class="absolute top-1 left-1 btn btn-primary"> back </button>
    </a>
    <div class="flex flex-col items-center justify-items-center">
        Theme
        <select id="themeselector" class="bg-base-100 select select-accent select-bordered w-full max-w-xs">
            <option>light</option> 
            <option>dark</option> 
            <option>cupcake</option> 
            <option>bumblebee</option> 
            <option>emerald</option> 
            <option>corporate</option> 
            <option>sythwave</option> 
            <option>retro</option> 
            <option>cyberpunk</option> 
            <option>valentine</option> 
            <option>halloween</option> 
            <option>garden</option> 
            <option>forest</option> 
            <option>aqua</option> 
            <option>lofi</option> 
            <option>pastel</option> 
            <option>fantasy</option> 
            <option>wireframe</option> 
            <option>black</option> 
            <option>luxury</option> 
            <option>dracula</option> 
            <option>cmyk</option> 
            <option>autumn</option> 
            <option>business</option> 
            <option>acid</option> 
            <option>lemonade</option> 
            <option>night</option> 
            <option>coffee</option> 
            <option>winter</option> 
            <option>cotton candy</option> 

        </select>
    </div>
</body>

</html>