<!DOCTYPE html>
<html lang="en" data-theme=<%=theme%>>

<head>
    <title>F1 Difficulty Calculator </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="prefetch" href="./img/btn_google_signin_dark_pressed_web.png" />
    <script src="./js/login.js"></script>
    <link rel="icon" href="img/favicon.ico">

</head>

<body class="bg-base-300 h-screen flex justify-center items-center">
    <div class="bg-base-100 border-neutral rounded-lg border-[1px] w-[550px] h-[655px] flex flex-col items-center">
        <div class="flex justify-center border-[1px] border-neutral rounded-lg w-[80%] h-full bg-base-100 mt-5 p-5 mb-5">
            <form action="/create" id="create" method="POST" class="flex flex-col w-[50%] justify-center">
                <input name="username" id="username" type="text" placeholder="username" class="pl-1 mb-5 rounded-md input input-accent">
                <% if (err === 'username') {%>
                    <p class="text-error"><%= message %></p>
                    <%}%>
                <input name="password" id="password" type="password" placeholder="password" class="pl-1 mt-5 mb-5 rounded-md input input-accent">
                <% if (err === 'password') {%>
                    <p class="text-error"><%= message %></p>
                    <%}%>
                <input name="confirmpassword" id="password" type="password" placeholder="confirm password" class="pl-1 mt-5 mb-5 rounded-md input input-accent">
                <input type="submit" value="Submit" class="btn btn-accent mt-5">
                <a href="/login/create"></a>
            </form>
        </div>
    </div>
</body>

</html>