<!DOCTYPE html>
<html lang="en" data-theme=<%= theme %> >


<head>
    <title>F1 Difficulty Calculator </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="img/favicon.ico">
</head>

<body class="bg-base-300 text-base-content h-screen flex flex-col justify-center items-center">
    <div class="text-base-content text-3xl mb-10 font-bold">
        F1 Difficulty Calculator
    </div>
    <div class="bg-base-100 border-neutral rounded-lg border-[1px] w-[550px] h-[655px] flex flex-col items-center">
        <div class="flex justify-center border-[1px] border-neutral rounded-lg w-[456px] h-full bg-base-100 mt-5 p-5">
            <form action="/login/username" id="login" method="POST" class="flex flex-col w-[50%] justify-center">
                <input name="username" id="username" type="text" placeholder="username" class="mt-auto input input-bordered input-accent pl-1 mb-5 rounded-md">
                <% if (err === 'username') {%>
                    <p class="text-error"><%= message %></p>
                    <%}%>
                <input name="password" id="password" type="password" placeholder="password" class="input input-bordered input-accent pl-1 mt-5 rounded-md bg-gray-300">
                <% if (err === 'password') {%>
                    <p class="text-error"><%= message %></p>
                    <%}%>
                <input type="submit" value="Submit" class="input btn btn-primary mt-5">
                <% if (err === 'missing') {%>
                    <p class="text-error"><%= message %></p>
                    <%}%>
                <a href="/create" class="link link-secondary ml-auto mr-auto mt-auto mb-0">Create an account</a>
            </form>
        </div>
        <div class="justify-self-end flex justify-center">
            <a href="/login/google" class="m-5">
                <div class="h-[50px] w-[208px]">
                    <img src='./img/btn_google_signin_dark_normal_web.png' alt="google signin" id="google" class="h-[50px] w-[208px]" />
                </div>
            </a>
            <a href="/login/github" class="m-5">
                <div class="h-[50px] w-[208px] bg-base-100 rounded-md border-neutral border-[1px]">
                    <div class="flex align-middle h-full">
                        <div class="h-full flex flex-col justify-center ml-1">
                            Sign In With Github
                        </div>
                        <img class="h-[36px] w-[36px] self-center ml-auto mr-1" src='./img/github.png' alt="github signin"
                            id="github" />
    
                    </div>
                </div>
            </a>
        </div>
    </div>
</body>

</html>